.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f5ecdc;
  font-family: 'Monospace', sans-serif;
}

.left-column {
  background: rgb(245, 236, 220);
  background: radial-gradient(
    circle,
    rgba(245, 236, 220, 1) 0%,
    rgba(77, 23, 132, 1) 77%,
    rgba(31, 27, 43, 1) 100%
  );
  height: 100%;
}

.right-column {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #160522;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  width: 70%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px 5px #6730B6
}

.form-container.form-inner {
  display: flex;
}

.form-container .row {
  margin: 0.5rem 0;
  display: flex;
}


.content {
  height: 100vh;
  width: 467px;
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  width: 70%;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

input, textarea {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  border-radius: 5px;
  background-color: #f5ecdc;
  flex: 2;
  margin-right: 7px;
  font-size: 0.7rem;
  padding: 0.5rem 0.3rem;
}

textarea {
  width: 100%;
}

button[type='submit'] {
  background-color: #4d1784;
  color: #f5ecdc;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  flex: 1;
}

button[type='submit']:hover {
  background-color: #1f1b2b;
}
